.layout{
  display: grid;
  grid-template-columns: 2fr 17fr 25fr 2fr;
  grid-template-rows: 7fr 5fr 20fr 7fr;
  height: 97vh;
  background-color: #f6f6f6;
}

.nav-bar{
  display: grid;
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.content-box{
  display: grid;
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

app-transaction{
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

app-history{
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

app-shared{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}
